In [27]:
import pandas as pd
import numpy as np
import pandas_datareader.data as web

In [28]:
# using the pandas datareader library to obtain a great database

In [29]:
all_data = {ticker: web.get_data_yahoo(ticker)
           for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']}

price = pd.DataFrame({ticker: data['Adj Close']
                     for ticker, data in all_data.items()})

volume = pd.DataFrame({ticker: data['Volume']
                      for ticker, data in all_data.items()})

In [31]:
returns = price.pct_change() #calculates percentage changes
returns.tail() # .()tails takes the last five rows of the set

                AAPL       IBM      MSFT      GOOG
Date
2022-01-14  0.005111 -0.004081  0.017717  0.004711
2022-01-18 -0.018894 -0.009463 -0.024339 -0.025010
2022-01-19 -0.021025 -0.010230  0.002247 -0.004685
2022-01-20 -0.010347 -0.005776 -0.005703 -0.015816
2022-01-21 -0.012765 -0.011237 -0.018468 -0.025575

In [32]:
# the 'corr' method for Series gives the correlation coefficient between non 'NaN' value types
# similarly, 'cov' gives back the covariance

returns['MSFT'].corr(returns['IBM'])

0.49277468105863065

In [34]:
returns['MSFT'].cov(returns['IBM'])

0.00014257329333001634

In [38]:
# using directly in the DataFrame, we stay with a matrix
# altering the axis parameter to axis=1 makes the calculus for the rows, instead of for the columns

returns.corr()
# returns.cov()

          AAPL       IBM      MSFT      GOOG
AAPL  1.000000  0.429937  0.736982  0.660682
IBM   0.429937  1.000000  0.492775  0.466517
MSFT  0.736982  0.492775  1.000000  0.779492
GOOG  0.660682  0.466517  0.779492  1.000000