In [2]:
import pandas as pd

In [3]:
from pandas import Series, DataFrame

In [4]:
obj = pd.Series([4, 7, -5, 3])

In [10]:
obj # it shows default indices

0    4
1    7
2   -5
3    3
dtype: int64

In [7]:
obj.values # the values are distributed in an array type

array([ 4,  7, -5,  3])

In [8]:
obj.index # shows where the indexes start and where they end

RangeIndex(start=0, stop=4, step=1)

In [11]:
# we can change the indices
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [12]:
# I may change and consult values/indexes easily
obj2['d'] = 6
obj2

d    6
b    7
a   -5
c    3
dtype: int64

In [13]:
obj2[['c', 'a', 'd']]

c    3
a   -5
d    6
dtype: int64

In [ ]:
# I may do arithmetics operations and comparisons as well

In [14]:
obj2 * 2

d    12
b    14
a   -10
c     6
dtype: int64

In [ ]:
# If I have a dictionarie type, I can pass it to a Series pandas object

In [15]:
states = {'Ohio': 100, 'Texas': 200, 'Oregon': 300, 'Utah': 400}

In [17]:
obj3 = pd.Series(states)
obj3

Ohio      100
Texas     200
Oregon    300
Utah      400
dtype: int64

In [18]:
# And I can print values according to the indexes
# California has NaN because it has no index in states dict
sdata = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(states, index=sdata)
obj4

California      NaN
Ohio          100.0
Oregon        300.0
Texas         200.0
dtype: float64

In [19]:
# pandas makes an alignment in operations
obj3 + obj4

California      NaN
Ohio          200.0
Oregon        600.0
Texas         400.0
Utah            NaN
dtype: float64

In [ ]:
# It's possible to name the population and the indexes

In [20]:
obj4.name = 'population'
obj4.index.name = 'states'
obj4

states
California      NaN
Ohio          100.0
Oregon        300.0
Texas         200.0
Name: population, dtype: float64