In [3]:
import pandas as pd
import numpy as np
from datetime import datetime as dt

In [9]:
now = dt.now().strftime('%d-%m-%y %H:%M')
print(now)

17-04-22 14:13

In [10]:
value = '2011-01-03'
dt.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [11]:
datestrs = ['7/06/2011', '8/06/2011']
[dt.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [12]:
from dateutil.parser import parse

In [15]:
parse('Jan 31, 1997 10:45 pm')

datetime.datetime(1997, 1, 31, 22, 45)

In [16]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

In [19]:
# Time series are series whose indexes are datetime values

ts = pd.Series(np.random.randn(3), index=pd.date_range('2011/01/03', periods=3))
ts

# pd.date_range creates a sequence of dates with a start and an end
#  it also has periods and a frequency, which by default uses days

2011-01-03    1.755179
2011-01-04    0.361170
2011-01-05    0.117714
Freq: D, dtype: float64

In [25]:
longer_ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
longer_ts

2000-01-01   -1.419275
2000-01-02    0.892114
2000-01-03    0.934895
2000-01-04    0.799219
2000-01-05    0.332084
                ...
2002-09-22    0.313673
2002-09-23    1.083178
2002-09-24    0.071420
2002-09-25    0.360579
2002-09-26    0.448627
Freq: D, Length: 1000, dtype: float64

In [29]:
# you can select according to a date, like the following

longer_ts['2001-05']

2001-05-01    0.131825
2001-05-02   -0.091856
2001-05-03    0.569603
2001-05-04   -0.592473
2001-05-05   -0.071221
2001-05-06    0.835971
2001-05-07    0.506042
2001-05-08   -0.008831
2001-05-09    0.801426
2001-05-10    0.376069
2001-05-11    0.057799
2001-05-12    0.381005
2001-05-13   -0.492425
2001-05-14   -0.457131
2001-05-15   -0.345652
2001-05-16   -0.132487
2001-05-17   -1.154859
2001-05-18   -0.740422
2001-05-19   -0.263140
2001-05-20   -0.392552
2001-05-21    1.134344
2001-05-22   -1.596472
2001-05-23   -0.907735
2001-05-24    0.039829
2001-05-25   -0.355135
2001-05-26    0.233278
2001-05-27    0.576499
2001-05-28   -0.780490
2001-05-29    0.799605
2001-05-30   -1.963912
2001-05-31   -1.320262
Freq: D, dtype: float64

In [35]:
# slicing also works for timeseries

longer_ts[dt(2001, 6, 21): dt(2001, 7, 31)]

2001-06-21   -0.473539
2001-06-22   -0.064767
2001-06-23   -0.799611
2001-06-24    0.120503
2001-06-25   -0.242011
2001-06-26   -0.216830
2001-06-27    0.712966
2001-06-28    0.407097
2001-06-29   -0.735527
2001-06-30    0.085541
2001-07-01   -0.205728
2001-07-02    0.654834
2001-07-03    0.147322
2001-07-04    0.055262
2001-07-05   -0.062642
2001-07-06    0.197620
2001-07-07   -0.188172
2001-07-08    0.104416
2001-07-09    1.340617
2001-07-10   -0.645982
2001-07-11   -0.934989
2001-07-12   -1.562343
2001-07-13    0.113502
2001-07-14   -0.638896
2001-07-15   -0.564383
2001-07-16   -1.078465
2001-07-17   -0.550001
2001-07-18   -0.175505
2001-07-19    0.497337
2001-07-20   -0.450632
2001-07-21    0.569550
2001-07-22    0.589269
2001-07-23    1.843479
2001-07-24   -0.519244
2001-07-25   -1.423850
2001-07-26    1.312332
2001-07-27   -0.160394
2001-07-28   -0.909360
2001-07-29   -0.808459
2001-07-30    0.732658
2001-07-31    1.464236
Freq: D, dtype: float64

In [38]:
longer_ts['2000-6-10':'2000-6-21']

2000-06-10   -0.481554
2000-06-11    1.739888
2000-06-12   -0.163491
2000-06-13    0.733631
2000-06-14    0.660029
2000-06-15    0.346885
2000-06-16    2.506639
2000-06-17   -0.272505
2000-06-18    0.518199
2000-06-19   -1.256937
2000-06-20   -2.086837
2000-06-21    1.045996
Freq: D, dtype: float64

In [39]:
ts

2011-01-03    1.755179
2011-01-04    0.361170
2011-01-05    0.117714
Freq: D, dtype: float64

In [43]:
ts.shift(-1)

2011-01-03    0.361170
2011-01-04    0.117714
2011-01-05         NaN
Freq: D, dtype: float64