# Loops

## For

In [1]:
# for aninhado
for i in range(0,5):
    for j in range(0,5):
        print("\n", i*j)
    print("----------")

 0

 0

 0

 0

 0
----------

 0

 1

 2

 3

 4
----------

 0

 2

 4

 6

 8
----------

 0

 3

 6

 9

 12
----------

 0

 4

 8

 12

 16
----------

In [2]:
# encontrar elemento em comum nas listas
l1 = [5,10,25,30]
l2 = [32,45,25,7]

for i in l1:
    for j in l2:
        if i == j:
            print('{} é o elemento em comum das listas'.format(i))

25 é o elemento em comum das listas

In [3]:
# somar os pares de cada lista
l1 = [10,16,24,39,47]
l2 = [32,89,47,76,12]
soma = 0

for i in [l1, l2]:
    for j in i:
        if j % 2 == 0:
            soma += j

soma

170

In [4]:
# forma alternativa, usando concatenação de listas
soma = 0
for i in l1+l2:
    if i % 2 == 0:
        soma += i
soma

170

In [5]:
# encontrar o maior valor
maior = 0
lista = [[42, 23 ,34], [100, 215, 114], [10.1, 98.7, 12.3]]

for i in lista:
    for j in i:
        if j > maior:
            maior = j
maior

215

In [6]:
# listando as chaves, valores e pares de um dict
d = {'Fulano':0, 'Beltrano':0, 'Sicrano':7}

# chaves
for i in d:
    print(i)

print('')

# valores
for i in d.items():
    print(i[1])

print('')

# pares
for i in d.items():
    print(i)

print('')

# pares, alternativo
for i, j in d.items():
    print(i, j)

Fulano
Beltrano
Sicrano

0
0
7

('Fulano', 0)
('Beltrano', 0)
('Sicrano', 7)

Fulano 0
Beltrano 0
Sicrano 7

## While

In [7]:
# imprimindo valores de 0 a 10
valor = 0

while valor < 10:
    print(valor)
    valor+=1

0
1
2
3
4
5
6
7
8
9

In [8]:
# pass, break e continue
valor = 0

while valor < 10:
    if valor == 4:
        break
    else:
        pass
    print(valor)
    valor+=1

print('')

frase = 'Com zzzz sono'

for i in frase:
    if i == 'z':
        continue
    print(i)

0
1
2
3

C
o
m


s
o
n
o

# Tempo de execução

In [9]:
%%time
l = list(range(2,31))
primes = []

for i in l:
    cont = 0
    for j in l:
        if i%j == 0:
            cont+=1
    if cont<2:
        primes.append(i)

primes

CPU times: user 105 µs, sys: 18 µs, total: 123 µs
Wall time: 128 µs

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

# Função lambda

In [10]:
pw = lambda x: x**2
pw(15)

225

In [11]:
mult = lambda x,y: x*y
mult(2.1,5)

10.5

# List e Dict comprehension

In [12]:
# list comprehension
frutas = ['maçã', 'banana', 'abacaxi', 'melancia', 'morango']

[fruta for fruta in frutas if 'm' in fruta]

['maçã', 'melancia', 'morango']

In [13]:
# dict comprehension
alunos = {'Bob':10, 'Michael':5.5, 'Santos':9.5, 'Indra':6.8}

{k:('Aprovado' if v>=7 else 'Reprovado') for (k,v) in alunos.items()}

{'Bob': 'Aprovado',
 'Michael': 'Reprovado',
 'Santos': 'Aprovado',
 'Indra': 'Reprovado'}